django
django-htmx
django-analytical
django-simple-captcha
django-crispy-forms
crispy-bootstrap5
django-celery-beat
django-celery-results
django-taggit
django-social-share
django-newsfeed
django-nested-inline
django-cors-headers
django-minify-html
django-slugger
django-storages
boto3
python-dotenv
readtime
yake
tweepy
python-telegram-bot
xhtml2pdf
markdown
deepl
flake8
coverage
autopep8
psycopg2-binary
gunicorn
redis
hiredis
