autopep8
boto3
celery
django
django-htmx
django-dbbackup
django-auto-prefetch
django-simple-captcha
django-crispy-forms
crispy-bootstrap5
django-celery-beat
django-celery-results
django-taggit
django-newsfeed
django-nested-inline
django-cors-headers
django-minify-html
django-rich
django-slugger
django-storages
geoip2
python-dotenv
readtime
yake
tweepy
python-telegram-bot
xhtml2pdf
markdown
deepl
flake8
coverage
psycopg2-binary
gunicorn
redis
hiredis
whitenoise[brotli]
django-minify-html
django-tweets
ipython
django-celery-email
