<hr class="mt-5">
<footer class="container text-center text-secondary mt-3">
  <div class="text-center p-3">

    <a class="text-success my-5 me-3" href="/blog">Blog <i class="bi bi-sticky"></i></a>

    <a target="_blank" class="text-primary my-5 me-3"
      href="https://t.me/english_stuff_online">Telegram <i class="bi bi-telegram"></i></a>

    <a target="_blank" class="text-primary my-5 me-3"
      href="https://t.me/english_stuff_online">Linkedin <i class="bi bi-linkedin"></i></a>

    <a target="_blank" class="text-primary my-5 me-3"
      href="https://t.me/english_stuff_online">Twitter <i class="bi bi-twitter"></i></a>

    <p>

    <small>

    </small>
    </p>

    <!-- Copyright -->
    <small class="mb-5">
      © {{ copyright_year }}  |  Material by Phil
        <a target="_blank" href="https://www.toweracademy.es"><i class="bi bi-globe"></i></a>  |  Website by Rami
        <a target="_blank" href="https://github.com/ramiboutas/"><i class="bi bi-github"></i></a>
        <a target="_blank" href="https://linkedin.com/in/ramiboutas/"><i class="bi bi-linkedin"></i></a>
        <a target="_blank" href="https://instagram.com/rami_btss/"><i class="bi bi-instagram"></i></a>
    </small>
  </div>

</footer>
