<footer class="container py-5">
  <div class="row">
    <div class="col-md-3 mb-3">
      <h5>About us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'core_home' %}" class="nav-link p-0 text-muted">🏠 Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'blog_postlist' %}" class="nav-link p-0 text-muted">📝 Blog</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'core_contact' %}" class="nav-link p-0 text-muted">📨 Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 mb-3">
      <h5>Learn with</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'quiz_list' %}" class="nav-link p-0 text-muted">🎁 Quizzes</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'book_list' %}" class="nav-link p-0 text-muted">📚 Books</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 mb-3">
      <h5>Transparency</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a target="_blank"
             href="https://github.com/ramiboutas/englishquiz"
             class="nav-link p-0 text-muted">💻 Source code <i class="bi bi-box-arrow-up-right"></i></a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'core_flexpage' slug='privacy-policy' %}"
             class="nav-link p-0 text-muted">👤 Privacy policy</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 mb-3">
      <h5>On social media, follow us! 🙂</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="me-1" href="https://t.me/englishStuffOnline"><i class="bi bi-telegram"></i> Telegram </a>
        </li>
        <li class="nav-item mb-2">
          <a target="_blank"
             class="me-1"
             href="https://www.linkedin.com/company/english-stuff-online"><i class="bi bi-linkedin"></i> Linkedin</a>
        </li>
        <li class="nav-item mb-2">
          <a target="_blank"
             class="me-1"
             href="https://twitter.com/EnglishStuffOn"><i class="bi bi-twitter"></i> Twitter (X)</a>
        </li>
        <li class="nav-item mb-2">
          <a target="_blank"
             class="me-1"
             href="https://www.facebook.com/englishstuffonline/"><i class="bi bi-facebook"></i> Facebook</a>
        </li>
        <li class="nav-item mb-2">
          <a target="_blank"
             class="me-1"
             href="https://github.com/ramiboutas/englishquiz"><i class="bi bi-github"></i> Github</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>
      © {{ copyright_year }} Material by
      <a target="_blank" href="https://www.toweracademy.es">Phil</a>. Website
      by
      <a target="_blank" href="https://github.com/ramiboutas/">Rami</a>
    </p>
    <ul class="list-unstyled d-flex">
    </ul>
  </div>
</footer>
