<div class="container">
    <header class="d-flex justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'core_home' %}" class="nav-link">🏠 Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'quiz_list' %}" class="nav-link">🎁 Quizzes</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'book_list' %}" class="nav-link">📚 Books</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'blog_postlist' %}" class="nav-link">📝 Blog</a>
            </li>
            {% comment %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'socialmedia_telegram' %}"><i class="bi bi-telegram"></i></a>
            </li>

            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.linkedin.com/company/english-stuff-online"><i class="bi bi-linkedin"></i></a>
            </li>

            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://twitter.com/EnglishStuffOn"><i class="bi bi-twitter"></i></a>
            </li>

            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.facebook.com/englishstuffonline/"><i class="bi bi-facebook"></i></a>
            </li>

            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://github.com/ramiboutas/englishquiz"><i class="bi bi-github"></i></a>
            </li> {% endcomment %}
        </ul>
    </header>
</div>
