<hr class="mt-5">
<footer class="container text-center text-secondary mt-3">
    <div class="text-center p-3">

        <div class="my-5 fs-4">
            <a class="me-3" href="/">Home</a>

            <a target="_blank" class="me-3"
                href="{% url 'socialmedia_telegram' %}"><i class="bi bi-telegram"></i></a>

            <a target="_blank" class="me-3"
                href="https://www.linkedin.com/company/english-stuff-online"><i class="bi bi-linkedin"></i></a>

            <a target="_blank" class="me-3"
                href="https://twitter.com/EnglishStuffOn"><i class="bi bi-twitter"></i></a>

            <a class="me-3" href="/blog">Blog</a>
        </div>



        <!-- Copyright -->
        <small class="mb-5">
            © {{ copyright_year }}  |  Material by <a target="_blank" href="https://www.toweracademy.es">Phil</a>  |  Website by
            <a target="_blank" href="https://github.com/ramiboutas/">Rami</a>
        </small>
    </div>

</footer>
