

<div class="container my-5">
    <div class="row justify-content-center">
        <h4 class="text-center text-secondary" >Share this site with your friends</h4>
        <div class="btn-group" role="group">

            <a target="_blank" type="button" class="btn btn-outline-success mx-3"
                href="https://wa.me/?text=Check%20out%20this%20awesome%20website%20to%20practice%20your%20english%20https%3A%2F%2Fwww.englishstuff.online%2F">
                <i class="bi bi-whatsapp"></i>
            </a>

            <a target="_blank" type="button" class="btn btn-outline-primary mx-3"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.englishstuff.online%2F">
                <i class="bi bi-facebook"></i>
            </a>

            <a target="_blank" type="button" class="btn btn-outline-secondary mx-3"
                href="https://twitter.com/intent/tweet?text=Check%20out%20this%20awesome%20website%20to%20practice%20your%20english%20https%3A%2F%2Fwww.englishstuff.online%2F">
                <i class="bi bi-twitter"></i></a>

            <a target="_blank" type="button" class="btn btn-outline-primary mx-3"
                href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.englishstuff.online%2F&summary=Check%20out%20this%20awesome%20website%20to%20practice%20your%20english">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</div>

<br>



<br>
