

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            {% if question.type == 1 %}
                <p class="fs-2 text-center py-1">
                    {% if question.text_one %} {{ question.text_one }} {% endif %}
                    <strong class="text-success" ><u>{{ correct_answer_one }}</u></strong>
                    {% if question.text_two %} {{ question.text_two }} {% endif %}
                </p>

            {% elif question.type == 2 %}
                <p class="fs-2 text-center py-1">
                    {% if question.text_one %} {{ question.text_one }} {% endif %}
                    <strong class="text-success" ><u>{{ correct_answer_one }}</u></strong>
                    {% if question.text_two %} {{ question.text_two }} {% endif %}
                    <strong class="text-success"><u>{{ correct_answer_two }}</u></strong>
                    {% if question.text_three %}{{ question.text_three }} {% endif %}
                </p>

            {% elif question.type == 5 %}
                <p class="fs-2 text-center py-1">{{ question.text_one }}</p>
                {% if question.text_two %}<p class="fs-2 text-center py-1">{{ question.text_two }}</p>{% endif %}
                {% if question.text_three %}<p class="fs-2 text-center py-1">{{ question.text_three }}</p>{% endif %}

            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="col-md-8 offset-md-2">
        {% if question.type == 5 %}
            {% for answer in question.answer_set.all %}
                <p class="py-1">
                    {% if answer.correct %}
                        <button type="button" name="button" class="btn btn-lg btn-success border-0 w-100" disabled>{{answer.name}}</button>
                    {% else %}
                        <button type="button" name="button" class="btn btn-lg btn-outline-dark border-0 w-100" disabled>{{answer.name}}</button>
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> {{ correct_message }} </strong>
            {% if question.explanation %}<p>{{ question.explanation }}</p>{% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>


{% include "quiz/partials/check_or_next_button.html" %}
