{% extends "base.html" %}
{% load cache %}

{% cache 86400 blog_allposts %}

    {% block head_title %} Blog | All Posts {% endblock  %}

    {% block content %}

        <h1 class="text-success text-center py-5">All Posts of the Blog</h1>

        <div class="container py-5">
            <div class="row justify-content-md-center">
                {% for post in page_obj %}
                    <div class="col-md-6 my-5">
                        <h2><a class="text-secondary" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        <p>{{ post.description }}</p>
                        <small class="text-muted">{{ post.created  }}</small>
                    </div>
                {% endfor %}


                {% if page_obj.paginator.num_pages > 1 %}
                    <nav aria-label="Page navigation" >
                        <ul class="pagination justify-content-center">

                            <li {% if page_obj.has_previous %}class="page-item"{% else %}class="page-item disabled"{% endif %}>
                                <a class="page-link" {% if page_obj.has_previous %}href="?page={{page_obj.previous_page_number}}"{% endif %}><span>&laquo;</span></a>
                            </li>

                            {% for page_num in page_obj.paginator.page_range %}
                                <li {% if page_num == page_obj.number %} class="page-item active" {% else %} class="page-item" {% endif %}>
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}

                            <li {% if page_obj.has_next %}class="page-item"{% else %}class="page-item disabled"{% endif %}>
                                <a class="page-link" {% if page_obj.has_next %}href="?page={{page_obj.next_page_number}}"{% endif %}><span>&raquo;</span></a>
                            </li>

                        </ul>
                    </nav>
                {% endif %}


            </div>
        </div>

        {% include "partials/footer.html" %}


    {% endblock  %}

{% endcache %}
