{% load static %}
{% load analytical %}
{% load google_analytics_gtag %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% analytical_head_top %}
    {% google_analytics_gtag %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}">

    <meta property="og:title" content="{{ site_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.ico' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta name="twitter:title" content="{{ site_title }}">
    <meta name="twitter:description" content="{{ meta_description }}">
    <meta name="twitter:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.ico' %}">
    <meta name="twitter:card" content="summary">

    {% compress css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endcompress %}

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


    <title> {{ site_title }} | {% block title %}{% endblock %}</title>

    {% analytical_head_bottom %}
  </head>
  <body class="container" style="background-color: Beige;" >
    {% analytical_body_top %}


    {% block content %}
    {% endblock %}


    <!-- htmx -->
    {% compress js %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% endcompress %}

    {% analytical_body_bottom %}
  </body>
</html>
