{% extends "base.html" %}


{% block title %}  Quizzes  {% endblock %}


{% block content %}

<h1 class="text-success text-center py-5">Advanced English Stuff <i class="bi bi-pencil"></i></h1>

<h2 class="text-center py-5">Learn and practice english with quizzes. Totally <strong class="text-success">free</strong> and without registration. </h2>


<div class="container py-5">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="input-group rounded">
        <input type="search" name="search_term" class="form-control boder-success rounded" placeholder="Search"
          hx-get="{% url 'search_quizzes' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-indicator=".htmx-indicator"
          hx-target="#quizzes"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <span class="input-group-text border-0">
          <i class="bi bi-search"></i>
        </span>
      </div>
      <!--
      <div class="row justify-content-md-center py-3 border">
        <div class="col-sm-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Beginer</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Intermediate</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Advanced</label>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row justify-content-md-center" id="quizzes">
      <span class="htmx-indicator text-center text-success">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Searching...</span>
        </div>
      </span>
      {% include "partials/quiz_list.html" %}
  </div>
</div>


{% include "partials/footer.html" %}

{% endblock %}
