{% extends "base.html" %}


{% block title %}  Quizzes  {% endblock %}


{% block content %}

<h1 class="text-success text-center py-5">Advanced English Stuff <i class="bi bi-pencil"></i></h1>

<h3 class="  text-center py-2">Learn and practice english with quizzes. This is totally <strong>free</strong> and without registration. </h3>


<div class="container py-5">
  <div class="row justify-content-md-center">
    {% for quiz in quiz_list %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card" style="background-color: Beige;">
          <img src="{{ quiz.image_url }}" class="card-img-top" alt="...">
          <small class="text-muted" >Photo by <a class="text-muted" target="_blank" href="{{ quiz.image_credits_url }}">{{ quiz.image_credits_url }}</a> </small>
          <div class="card-body " >
            <h3 class="text-center card-title">{{ quiz.name}}</h3>
            <p class="card-text">{{ quiz.description }}</p>
            <a href="{{ quiz.get_detail_url }}" class="btn btn-success w-100">Check out</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<h3></h3>
{% include "partials/footer.html" %}

{% endblock %}
