{% extends "base.html" %}
{% block head_title %}Books | English Stuff Online{% endblock %}
{% block content %}
    {% include 'partials/navbar.html' %}
    <h1 class="text-success text-center py-5">Books 📚</h1>
    <h2 class="text-center py-3">
        Get a <strong class="text-success">book 📗</strong> to boost your English.
    </h2>
    <h3 class="text-center text-success display-5 py-3">
        <i class="bi bi-pencil"></i> <i class="bi bi-chat-dots"></i> <i class="bi bi-display"></i>
    </h3>
    <form class="container py-5"
          hx-get="{% url 'search_books' %}"
          hx-trigger="change"
          hx-target="#books"
          hx-indicator=".htmx-indicator">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="input-group rounded">
                    <input type="search"
                           name="q"
                           class="form-control boder-success rounded"
                           placeholder="Search your book"
                           hx-get="{% url 'search_books' %}"
                           hx-trigger="keyup changed delay:500ms">
                    <span class="input-group-text border-0"><i class="bi bi-search"></i></span>
                    <span class="htmx-indicator float-end text-success">
                        <div class="spinner-border" role="status"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 ">
        <div class="col-md-4">
            {% include "affiliates/partials/book_search_filter_item.html" with input_name='category' filter_name='Category' filter_item_list=book_categories %}
        </div>
        <div class="col-md-4">
            {% include "affiliates/partials/book_search_filter_item.html" with  input_name='test_type' filter_name='Test type' filter_item_list=book_test_types %}
        </div>
        <div class="col-md-4">
            {% include "affiliates/partials/book_search_filter_item.html" with  input_name='level' filter_name='Level' filter_item_list=book_levels %}
        </div>
    </div>
</form>
<div class="container">
    <div class="row justify-content-md-center" id="books">{% include "affiliates/partials/book_list.html" %}</div>
</div>
{% include "partials/footer.html" %}
{% endblock %}
