{% extends "base.html" %}
{% load cache %}

{% cache 43200 telegram %}

    {% block head_title %}Linkedin Page | English Stuff Online{% endblock %}


    {% block content %}


        <h1 class="text-success text-center py-5">Linkedin Page</h1>

        <div class="container py-5">
            <div class="row justify-content-md-center" >
                {% for linkedin_post in linkedin_posts %}
                    <div class="my-3">
                        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:{{linkedin_post.linkedin_id}}"
                            allowfullscreen="" title="Embedded post" width="504" height="606" frameborder="0"></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include "partials/footer.html" %}

    {% endblock %}

{% endcache %}
