{% load humanize %}

{% for book in book_list %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <div class="card" style="background-color: Beige;">
            <img src="{{ book.image_url }}" width="400" height="250" class="card-img-top" alt="...">
            <div class="card-body ">
                
                <p class="text-secondary">Views
                    <span class="text-success float-end"> {{ book.views | intcomma }} </span>
                </p>
                <a href="{{ book.get_detail_url }}" class="btn btn-lg btn-success w-100 fs-3">{{ book.name }}</a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
        <p class="text-center text-success">Sorry, we didn't find anything for you 😔</p>
    </div>
{% endfor %}
