{% for book in book_list %}
	<div class="col-sm-12 col-md-6 col-lg-4 mb-5">
		<div class="card" style="background-color: Beige;">
			<img src="{{ book.image_url }}" class="card-img-top" alt="...">
			<div class="card-body ">
				<p class="text-secondary">Category
					<span class="text-success float-end"> {{ book.get_category_display }} </span>
				</p>
				<p class="text-secondary">Test type
					<span class="text-success float-end"> {{ book.get_test_type_display }} </span>
				</p>
				<p class="text-secondary">Level
					<span class="text-success float-end"> {{ book.get_level_display }} </span>
				</p>
				<a href="{{ book.get_detail_url }}" class="btn btn-success w-100">{{ book.name }}</a>
			</div>
		</div>
	</div>
{% empty %}
	<div class="col-sm-12 col-md-6 col-lg-4 mb-5">
		<p class="text-center text-success">No books found 😔</p>
	</div>
{% endfor %}
